.header{
    height: 75px;
    width: 100%;

border-bottom: 2px solid rgb(var(--primary-color),);
display: flex;
justify-content: center;
align-items: center;
}
.nav{
    width: 100%;
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;

}
.leftNav{
    display: flex;
    align-items: center;
    gap: 14px;
}
.img-nav{
    width: 100px;
    height: auto;
}
.titre-nav{
    font-size: var(--subhealine-font-size);
}
.buttons{
    display:flex ;
    gap: 24px;

}
.button{
    padding: 10px;
    font-size: var(--body-font-size);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms;
}
.connexio{
    background-color:transparent ;
}
.insrire{
    padding: 10px 20px;
    background-color:rgb(var(--primary-color)) ;
    color:rgb(var( --secondary-color)) ;
}
.connexio:hover{
    background-color:#dddd ;
}
.insrire:hover {
    background-color:rgb(var(--primary-color), 0.5) ;
}
  .menu-mobil{
    display: none;
    justify-content: center;
    align-self: center;
    font-size: 3em;
 } 
 .content-menu-mobil{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background-color:rgb(255, 255, 255);
    box-shadow: -2px 0px 8px rgb(var( --primary-color),0.2);
    transition: right 0.3s ease;
    z-index: 1000;
 }
 .nav-mobil{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
    align-items: center;
 }
 .close{
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
 }
 .start{
    right: 0;
 }