@media (max-width:750px){
    .menu-mobil{
        display: block;
    };
    .buttons{
        display: none;
    };
    .content2{
display: flex;
justify-content: center;
    };
    .insides{
        display:flex ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    };
    .inside{
        display: flex;
        justify-self: center;
        width: 80%;

    };
    .contentTitleMobil{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    };
    .contentTitle{
        display: none;
    };
    .contentFooter{
        display: flex;
        flex-direction: column;
    };
    .footerLeft{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-bottom: 1em;
    };
    .footer{
        height: 230px;
        padding-top: 2em;
    };
    .contentParagraphe{
        justify-content: center;
        text-align: center;
        align-items: center;
    };

}
