
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(global.css);
@import url(section/header.css);
@import url(section/section.css);
@import url(section/footer.css);
@import url(responsive.css);




:root{
    --police: "Roboto", sans-serif;
    --primary-color:  0, 0, 0;
    --secondary-color: 255, 255, 255;

    --blue-color: 31, 132 ,239;
    --red-color: 227, 7, 68;
    --yellow-color: 255,210,127;
    --green-color: 6, 224, 127;

    --healine-font-size: 42px;
    --headline-font-weight:700;

    --subhealine-font-size:22px;
    --subheadline-font-weight:400;

    --body-font-size:18px;
}