@media only screen and (max-width: 767px) {
    .nav-btn-group {
        display: grid;
        grid-template-rows: 10% 10%;
        gap: 25px;
        position: absolute;
        background: #ffffff;
        width: 100%;
        top: 75px;
        left: 0;
        opacity: 0;
        z-index: 1;
        height: 100%;
        padding: 30px 0;
        transition: 0.6s;
    }

    .nav-btn-1 {
        width: 110px;
        height: 41px;
        margin: 0 auto;
    }

    .nav-btn-2 {
        width: 225px;
        height: 41px;
        margin: 0 auto;
    }

    .main-head {
        margin: 10px auto;
        height: auto;
    }

    .main-paragraphe {
        width: 80%;
    }

    .card-group {
        grid-template-columns: 1fr;
    }

    footer {
        display: grid;
        background-color: rgba(0, 0, 0, 1);
        align-items: center;
        height: auto;
    }

    .footer-container {
        display: grid;
    }

    .link-group {
        display: grid;
        align-content: center;
        margin: 30px 0;
    }

    .link-group p {
        margin: 0 auto;
    }

    .footer-icone-group {
        display: flex;
        gap: 42px;
    }

    .footer-info {
        margin-bottom: 30px;
    }

    .navbar-toggler {
        display: grid !important;
    }
}

/* Stylisation du format tablette */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .header {
        padding: 0 20px;
    }
    .main-head {
        margin: 10px auto;
        height: auto;
    }

    .card-group {
        display: grid;
        grid-template-columns: 40% 40%;
        gap: 5%;
        justify-content: center;
        margin-bottom: 20px;
    }

    .link-group {
        display: flex;
        flex-direction: column;
    }

    .link-group p {
        text-align: center;
    }

    footer {
        padding: 0 50px;
    }

    .footer-container {
        margin: 30px 0;
    }
}

/* Stylisation du format tablette */
@media only screen and (min-width: 993px) {
    
    .footer-container {
        height: 150px;
    }
}