body{
    background-color: transparent;
    margin: 0;
    display: flex;
    flex-direction: column;
}
 

 

 .block-center {
   
   width: 522px;
   height: 248px;
   background-color: transparent;
   /* margin-left: 660px; */
   margin-top: 145px;
   margin-bottom: 164px;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;

 }

 section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
 }

  .text-titre {
   font-size: 40px;
   justify-content: center;
  }

  .p-titre {
   text-align: center;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
  }

  .cta-3 {
   width: 220px ;
   height: 44px;
   background-color: rgba(31, 133, 241, 1);
   font-size: 18px;
   color: aliceblue;
   border-color: transparent;
   cursor: pointer;
  

 
 }

 .paragraph-2 {
   justify-content: center;
 }

 .main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 26px;
    flex: 1;
   margin: 0 10%;
 }

 .left{
    background: rgba(228, 7, 60, 1);
    width: 375px;
    height: 190px;
    border-radius: 11px;
    padding: 20px;
 }
 .center{
    background: rgba(255, 211, 3, 1);
    width: 375px;
    height: 190px;
    border-radius: 11px;
    padding: 20px;
 }
.right{
    background: rgba(6, 224, 127, 1);
    width: 375px;
    height: 190px;
    border-radius: 11px;
    padding: 20px;
 } 
 
 
 h1 {
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
 }

 h2 {
   color: aliceblue;
   font-family: Arial, Helvetica, sans-serif;
 }
  p {
   color: aliceblue;
   font-family: Arial, Helvetica, sans-serif;
  }

  .p-titre {
   color: #000;
  }