.frame {
    margin: 0px;
}

body {
    font-family: roboto;
}

.logo-group {
    display: flex;
    gap: 20px;
}

.logo-image {
    width: 106px;
    height: 42px;
}

.logo-text {
    width: 140px;
    height: 42px;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
}

.navbar {
    display: flex;
    height: 74px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 303px;
    border-bottom: 3px solid rgb(204, 204, 204);
}


.nav-btn-group {
    display: flex;
    gap: 20px;
}

.nav-btn-1 {
    width: 83px;
    height: 42px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
}

.nav-btn-2 {
    width: 214px;
    height: 42px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
}

.nav-btn-2 p {
    color: #FFF;
}

.section-head {
    width: 500px;
    margin: 160px auto;
}

.section-titre {
    width: 500px;
    height: 84px;
    margin-bottom: 32px;
}

.section-titre h1 {
    
    text-align: center;
    font-weight: 700;
    font-size: 42px;
    line-height: 49.22px;
}

.section-paragraphe {
    width: 500px;
    height: 52px;
    margin-bottom: 28px;
}

.section-paragraphe p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.section-paragraphe p {
    font-weight: 500;
    text-align: center;
}

.section-btn {
    width: 212px;
    height: 41px;
    background-color: rgb(31, 132, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 0 auto;
}

.section-btn p {
    font-weight: 400;
    font-size: 18px;
    color: #FFF;
}

.card-group {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 160px;
}

.card-icone {
    width: 43px;
    height: 43px;
    margin-bottom: 25px;
}

.card-titre {
    height: 20px;
    font-weight: 500;
    font-size: 22px;
}

.card-paragraphe {
    height: 27px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.card-1 {
    width: 310px;
    height: 134px;
    background-color: rgb(228, 7, 60);
    padding: 25px 25px 21px 25px;
    border-radius: 10px;
}

.card-2 {
    width: 310px;
    height: 134px;
    background-color: rgb(255, 210, 0);
    padding: 25px 25px 21px 25px;
    border-radius: 10px;
}

.card-3 {
    width: 310px;
    height: 134px;
    background-color: rgb(6, 224, 127);
    padding: 25px 25px 21px 25px;
    border-radius: 10px;
}

.card-titre p {
    color: #FFF;
}

.card-paragraphe p {
    color: #FFF;
}

.link-group {
    display: flex;
    gap: 25px;
}

.link-group p {
    color: #FFF;
    font-weight: 400;
    font-size: 18;
}

footer {
    display: flex;
    justify-content: space-around;
    
    height: 150px;
    background-color: rgba(0, 0, 0, 1);
    align-items: center;
}

.footer-logo {
    width: 104px;
    height: 40px;
}

.footer-logo-text {
    width: 141px;
    height: 40px;
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
}

.footer-logo-group {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.link1 {
    width: 219px;
    height: 20px;
}

.link2 {
    width: 136px;
    height: 20px;
}

.link3 {
    width: 213px;
    height: 20px;
}

.footer-icone-group {
    display: flex;
    gap: 42px;
}

.footer-icone {
    width: 20px;
    height: 20px;
}