* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Partie Header */

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75px;
  border-bottom: 2px solid rgb(204, 204, 204);
}

.navbar {
  width: 100%;
  max-width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 14px;
}

.logo-image {
  width: 106px;
  height: 42px;
}

.logo-text {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
}

.nav-btn-group {
  display: flex;
  gap: 24px;
}

.nav-button {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.nav-btn-1 {
  font-weight: 400;
  background-color: transparent;
}

.nav-btn-1:hover {
  background-color: #dddddd;
}

.nav-btn-2 {
  background-color: rgb(0, 0, 0);
  font-weight: 400;
  color: white;
}

.nav-btn-2:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-hamburger {
  display: none;
}

/* Partie Section */

.main {
  flex: 1;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  padding: 20px 10px;
}

.section-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.section-titre h1 {
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 49.22px;
}

.section-paragraphe p {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.section-btn {
  width: 212px;
  height: 41px;
  background-color: rgb(31, 132, 240);
  border-radius: 10px;
  margin: 0 auto;
  border: none;
  color: #fff;
  font-size: 18px;
}

.section-btn:hover {
  background-color: rgba(31, 132, 240, 0.8);
}

.section-btn p {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.card-group {
  width: 100%;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
}

.card-icone {
  width: 43px;
  height: 43px;
}

.card-titre {
  font-weight: 500;
  font-size: 22px;
}

.card-paragraphe {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.card-1 {
  background-color: rgb(228, 7, 60);
}

.card-2 {
  background-color: rgb(255, 210, 0);
}

.card-3 {
  background-color: rgb(6, 224, 127);
}

.card-titre p {
  color: #fff;
}

.card-paragraphe p {
  color: #fff;
}

/* Partie footer */

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 150px;
  background-color: rgba(0, 0, 0, 1);
  align-items: center;
}

.footer-container {
  width: 100%;
  max-width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.link-group {
  display: flex;
  gap: 24px;
}

.link-group a {
  color: white;
  text-decoration: none;
}

.link-group p {
  color: #fff;
  font-weight: 400;
  font-size: 18;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px 0;
}

.footer-logo-text {
  width: 141px;
  height: 40px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}

.footer-logo-group {
  display: flex;
  gap: 14px;
  align-items: center;
}

.footer-icone-group {
  display: flex;
  align-items: center;
  gap: 42px;
}

.footer-icone {
  width: 20px;
  height: 20px;
}

.navbar-toggler {
  display: none;
  height: min-content;
  margin: 18px -10px 0 0;
  cursor: pointer;
  margin: auto 0;
}

.navbar-toggler .bar {
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background: black;
  border-radius: 10%;
  transition: 0.4s;
}

input {
  display: none;
}

input:checked ~ .nav-btn-group {
  transform: translateY(0);
}

input:checked ~ .navbar-toggler .bar:nth-child(1) {
  transform: rotate(45deg);
}

input:checked ~ .navbar-toggler .bar:nth-child(2) {
  display: none;
}

input:checked ~ .navbar-toggler .bar:nth-child(3) {
  position: absolute;
  transform: rotate(-45deg);
}

/* Stylisation du format mobile */

@media only screen and (max-width: 767px) {
  .nav-btn-group {
    display: grid;
    grid-template-rows: 10% 10%;
    gap: 5px;
    position: absolute;
    background: #ffffff;
    width: 100%;
    top: 75px;
    left: 0;
    transform: translateX(200%);
    z-index: 1;
    height: 100%;
    padding: 30px 0;
    transition: 0.6s;
  }

  .nav-btn-1 {
    width: 110px;
    height: 41px;
    margin: 0 auto;
  }

  .nav-btn-2 {
    width: 225px;
    height: 41px;
    margin: 0 auto;
  }

  .section-head {
    margin: 10px auto;
    height: auto;
  }

  .section-paragraphe {
    width: 80%;
  }

  .card-group {
    grid-template-columns: 1fr;
  }

  footer {
    display: grid;
    background-color: rgba(0, 0, 0, 1);
    align-items: center;
    height: auto;
  }

  .footer-container {
    display: grid;
  }

  .link-group {
    display: grid;
    align-content: center;
    margin: 30px 0;
  }

  .link-group p {
    margin: 0 auto;
  }

  .footer-icone-group {
    display: flex;
    gap: 42px;
  }

  .footer-info {
    margin-bottom: 30px;
  }

  .navbar-toggler {
    display: grid !important;
  }
}

/* Stylisation du format tablette */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .nav-hamburger {
    display: none;
  }

  .section-head {
    margin: 10px auto;
    height: auto;
  }

  footer {
    display: grid;
    background-color: rgba(0, 0, 0, 1);
    align-items: center;
    height: auto;
  }

  .footer-container {
    display: grid;
    justify-content: center;
  }

  .link-group {
    display: grid;
    align-content: center;
    margin: 30px 0;
    text-align: center;
  }

  .footer-info {
    margin-bottom: 30px;
  }
}
