header, nav, section, aside, article, footer{
    padding: 8px;
    margin: 10px;
    font-size: 20px;
}



header{
    background-color: rgb(49, 7, 39);
    height: 68px;
    width: 1728px;
}

nav{
    background-color: rgb(94, 169, 235);
    height: 194px;
    width: 517px;
    margin:0 auto;
}

section{
    display: flex;
    background-color: rgb(189, 116, 21);
    
}

aside{
    background-color: rgb(153, 62, 104);
    height:184px;
    width:360px; 
}

article{
    background-color: rgb(9, 143, 143);
    height: 184px;
    width: 360px;
}

footer{
    background-color: rgb(26, 236, 44);
    height: 148px;
    width: 1728px;
}