body{
    background-color: red;
}

/* il sagit du header l'entête */
header{
    background-color: blue;
    height: 79px;
    border: 2px solid black;

}

.logo{
    width: 336px;
    height: 75px;
    border: 2px solid white;
    margin-left: 210px;
}
.btns{page-orientation: 48px
    ;
width: 339px;
height: 75px;
border: 2px solid white;
margin-bottom: 250px;
}

/* il sagit de  section principale */
section{ color: rgb(16, 202, 47);
.bloc-titre-main {
    width: 569px;
    height: 277px;
    border: 2px solid white;
    margin-left: 250px;
    margin-right: 250px;
    padding: left 210px;;

    display: inline-block;
    position: sticky ;
}
}

/* il sagit du footer, pied de page */
footer{height: ;

}

